---
permalink: /index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="refresh" content="0; url=/es/">
<title>Tesserae Bureau</title>
</head>
<body>
<script>window.location.replace('/es/');</script>
<p><a href="/es/">Ir al sitio</a></p>
</body>
</html>
